.image-slide-container img {
    width: 450px;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 350px;
}

.image-slide-container {
    width: calc(100%-40px);
    position: relative;
}

.leftbutton {
    position: absolute;
    top: 525px;
    z-index: 3;
}

.rightbutton {
    position: absolute;
    top: 525px;
    left: 423px;
    z-index: 3;
}